$grey:#959398;
$yellow:#F2D541;
$pink:#D9487D;
$blue:#035AA6;
$blue-sky:#04ADBF;

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: 黑體-繁, Apple LiGothic Medium, PingFang, 微軟正黑體, Microsoft JhengHei, WenQuanYi Zen Hei, helvetica, Arial, sans-serif;
}

html,
body {
  height: 100%;
}

body {
  background: #111e;
}

#title {
  text-align: center;
  margin-top: 4rem;
}

.tab {
  color: #fffc;
  padding: 1rem 0.35rem;
  position: relative;
  cursor: pointer;
  background: 3px solid $pink;

  &::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 3px;
    border-radius: 3px;
    background: $pink;
    transition: 0.5s;
  }

  &:hover::after {
    width: 100%;
    left: 0;
  }
}

.underline {
  position: absolute;
  bottom: 0;
  height: 3px;
  border-radius: 3px;
  background: $blue-sky;
  animation: openLine 1s;
}

.active {
  background: $pink !important;
  animation: none !important;
  width: 100% !important;
  left: 0 !important;
}

#container-img {
  width: 1280px;
  max-width: 80%;
  margin: auto;
  padding: 5rem 0;
}

.frameBigBox,
.frameSmallBox {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  img {
    width: 100%;
    // height: auto;    
    object-fit: contain;
  }
}

.imgBigBox {
  width: 624px;
  max-width: 51%;
  /* height: 416px; */
  height: 0;
  /* 根據父元素的 width 1280px 的比例撐高高度，同時 max-width 會失效 */
  padding-bottom: 32.5%;
  background: $yellow;
  margin: 0 0 3rem 0;
  overflow: hidden;
}

.imgSmallBox {
  width: 296px;
  max-width: 26%;
  /* height: 196px; */
  height: 0;
  padding-bottom: 15.3125%;
  background: #D9487D;
  margin: 0 0 2rem 0;
  overflow: hidden;
}

@keyframes openLine {
  0% {
    width: 0;
    left: 50%;
  }

  100% {
    width: 100%;
    left: 0;
  }
}