$grey:#959398;
$yellow:#F2D541;
$pink:#D9487D;
$blue:#035AA6;
$blue-sky:#04ADBF;

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: 黑體-繁, Apple LiGothic Medium, PingFang, 微軟正黑體, Microsoft JhengHei, WenQuanYi Zen Hei, helvetica, Arial, sans-serif;
}

html,
body {
  height: 100%;
}

body {
  background: #111e;
}

#container-img {
  width: 1280px;
  max-width: 80%;
  margin: auto;
  padding: 5rem 0;
}

.frameBigBox,
.frameSmallBox {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.frameBigBox {
  justify-content: space-evenly;
  margin-bottom: 3rem;
}

.frameSmallBox {
  justify-content: space-evenly;
}

.imgBigBox {
  width: 624px;
  max-width: 50%;
  height: 416px;
  background: $yellow;

  &:nth-child(odd) {
    margin-right: 2rem;
  }
}

.imgSmallBox {
  width: 296px;
  max-width: 25%;
  height: 196px;
  background: #D9487D;
  margin: 0 2rem 2rem 0;

  &:nth-child(n+5) {
    margin-bottom: 0;
  }

  &:nth-child(4n) {
    margin-right: 0;
  }
}